.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: block;
    height: 100%;
    background-color: #f0f0f0; /* Example background color */
    padding: 20px; /* Example padding */
    align-items: center;
    justify-content: center;
} 

.icon-and-text {
    display: flex;
    align-items: center;
  }
  
  .icon-and-text mat-icon {
    margin-right: 8px; /* Adjust the margin as needed */
    vertical-align: middle;
  }
  
  .icon-and-text span {
    vertical-align: middle;
  }
  